@tailwind base;
@tailwind components;
@tailwind utilities;

.activeButtons{
    @apply text-pink border-pink border-b-4 py-4
}
@font-face {
    font-family:'GalanoGrotesqueExtraBold' ;
    src: url('./fonts/GalanoGrotesqueExtraBold.otf');
}
@font-face {
    font-family:'GalanoGrotesqueBold' ;
    src: url('./fonts/GalanoGrotesqueBold.otf');
}
@font-face {
    font-family: 'GalanoGrotesqueMedium';
    src: url('./fonts//GalanoGrotesqueMedium.otf');
}
@font-face {
    font-family: 'GalanoGrotesqueRegular';
    src: url('./fonts//GalanoGrotesqueRegular.otf');
}